.su_fields_show .display-block {
    display: block !important;
}

.su_fields_show .display-none {
    display: none !important;
}

.su_fields_show .dropdown-menu {
    border-radius: 0 0 5px 5px;
    padding-top: 0;
}

.su_fields_show .su_action {
    border-bottom: 1px #cdcdcd solid;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    float: left;
    position: relative;
    width: 100%;
}

.su_fields_show .su_action a {
    border-bottom: 0;
    border-radius: 0;
    border-right: 0;
    border-top: 0;
    float: right;
    padding: 4px 6px;
}

.su_fields_show .su_action i {
    color: #7c7bad;
}

.su_fields_show .su_dropdown {
    float: left;
    margin-top: 1px;
    max-height: 250px;
    min-width: 300px;
    overflow-y: scroll;
    position: relative;
}

.su_fields_show .su_dropdown a {
    color: #4c4c4c;
}

.su_fields_show .su_dropdown::-webkit-scrollbar {
    background-color: #F5F5F5;
    width: 10px;
}

.su_fields_show .su_dropdown::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
            box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #5f5e97;
}

.su_fields_show .dropdown-menu ul {
    list-style: none;
    margin: 5px 0;
    padding: 0;
}

.su_fields_show .dropdown-menu li {
    min-height: 20px;
    padding: 2px 5px 2px 25px;
}

.su_fields_show .dropdown-menu li input {
    border-radius: 0;
    display: none;
    padding: 0 2px;
}

.su_fields_show .dropdown-menu li span {
    display: none;
}

.su_fields_show .dropdown-menu li .span_ticked {
    content: "\f00c";
    cursor: pointer;
    display: block;
    font-family: FontAwesome;
    font-weight: bold;
    left: 0;
    padding-left: 6px;
    position: absolute;
    width: 25px;
}

.su_fields_show .dropdown-menu li:hover{
    background-color: #efeff8;
}

.su_fields_show .dropdown-menuli .selected a{
    font-weight: bold;
}

.su_fields_show .su_action label{
    font-size: 13px;
    margin-bottom: 0;
    vertical-align: middle;
}

.su_fields_show .su_action input{
    line-height: 100%;
    margin: 0 3px;
    vertical-align: middle;
}
